@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?785ad527211d34ffa71b6bc07cdac71b") format("truetype"),
url("./flaticon.woff?785ad527211d34ffa71b6bc07cdac71b") format("woff"),
url("./flaticon.woff2?785ad527211d34ffa71b6bc07cdac71b") format("woff2"),
url("./flaticon.eot?785ad527211d34ffa71b6bc07cdac71b#iefix") format("embedded-opentype"),
url("./flaticon.svg?785ad527211d34ffa71b6bc07cdac71b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-route:before {
    content: "\f101";
}
.flaticon-restaurant:before {
    content: "\f102";
}
.flaticon-shop:before {
    content: "\f103";
}
.flaticon-location:before {
    content: "\f104";
}
